<div>
    <div class="metrics-control">
        <div class="metrics-control-buttons">
            <!-- <div class="metrics-control-button"> -->
                <button dt-button  class="metrics-control-button">
                    <dt-icon name="perfromance-health"></dt-icon>
                    Create new metric
                </button>
            <!-- </div> -->

            <!-- <div class="metrics-control-button"> -->
                <button dt-button variant="secondary"  class="metrics-control-button">
                    <dt-icon name="area-chart"></dt-icon>
                    Create missing charts
                </button>
            <!-- </div> -->
        </div>
    </div>

    <div class="metric-card" [class.key-metric]="metric.isKeyMetric" *ngFor="let metric of metrics">

        <dt-card>
            <!-- Indicator for charts -->
            <dt-card-icon *ngIf="metric.inCharts > 0 || metric.inKeyCharts > 0">
                <dt-icon class="metric-ok" name="checkmark"></dt-icon>
            </dt-card-icon>
            <dt-card-icon *ngIf="metric.inCharts == 0 && metric.inKeyCharts == 0" [dtOverlay]="overlay">
                <dt-icon class="metric-nok" name="incident"></dt-icon>
            </dt-card-icon>


            <dt-card-title>{{metric.displayname}}</dt-card-title>
            <dt-card-subtitle>{{metric.key }}</dt-card-subtitle>

            <dt-card-footer-actions>
                <button dt-button variant="secondary">Edit</button>
                <button dt-button variant="primary" *ngIf="metric.inCharts == 0 && metric.inKeyCharts == 0">Fix charts</button>
              </dt-card-footer-actions>

            <dt-key-value-list>
                <dt-key-value-list-item>
                    <dt-key-value-list-key>Entity</dt-key-value-list-key>
                    <dt-key-value-list-value>{{ metric.entity }}</dt-key-value-list-value>
                </dt-key-value-list-item>

                <dt-key-value-list-item>
                    <dt-key-value-list-key>Unit</dt-key-value-list-key>
                    <dt-key-value-list-value>{{ metric.unit }}</dt-key-value-list-value>
                </dt-key-value-list-item>

                <dt-key-value-list-item>
                    <dt-key-value-list-key>Dimensions</dt-key-value-list-key>
                    <dt-key-value-list-value>{{ metric.dimensions}}
                    </dt-key-value-list-value>
                </dt-key-value-list-item>

                <dt-key-value-list-item>
                    <dt-key-value-list-key>Charts</dt-key-value-list-key>
                    <dt-key-value-list-value>{{ metric.inCharts }}</dt-key-value-list-value>
                </dt-key-value-list-item>

                <dt-key-value-list-item>
                    <dt-key-value-list-key>Key charts</dt-key-value-list-key>
                    <dt-key-value-list-value>{{ metric.inKeyCharts }}</dt-key-value-list-value>
                </dt-key-value-list-item>

            </dt-key-value-list>

        </dt-card>
    </div>
</div>

<ng-template #overlay>
    <div class="dt-overlay-example-content-wrapper">
        <p>This metric belongs to no charts</p>
    </div>
</ng-template>