.dt-drawer{
    padding: 0;
    padding-right: 0;
}

.editor-ui-main{
    height: 100%;
}

.dt-menu{
    height: 100%;
    width: 240px;
}

/*If I don't do this, the element goes beyond the parent width*/
.dt-menu-item{
    width: unset !important;
}

.plugin-navigator{
    width: 280px;
}