<dt-drawer-container class="editor-ui-main">
  <dt-drawer #drawer opened>
    <app-editor-menu></app-editor-menu>
  </dt-drawer>
 
  <app-editor-top-bar></app-editor-top-bar>

  <dt-breadcrumbs aria-label="Breadcrumbs navigation">
    <a dtBreadcrumbsItem href="editor">Editor</a>
  </dt-breadcrumbs>

  <dt-drawer-container class="editor-ui-main">
    <dt-drawer #drawer opened>
      <app-editor-navigation></app-editor-navigation>
    </dt-drawer>

    <router-outlet></router-outlet>

  </dt-drawer-container>
</dt-drawer-container>