<dt-drawer-container class="editor-ui-main">
  <dt-drawer #drawer opened>
    <dt-menu aria-label="Default Menu Example" class="editor-menu">

      <dt-menu-group label="Operations">
        <a routerLink="/home" dtMenuItem>Home</a>
        <a routerLink="/editor" dtMenuItem>Editor</a>
      </dt-menu-group>
    </dt-menu>
  </dt-drawer>

  <dt-top-bar-navigation>
    <dt-top-bar-navigation-item align="start">
      <a (click)="drawer.toggle()" dtTopBarAction>
        <dt-icon name="menu-hamburger"></dt-icon>
      </a>
    </dt-top-bar-navigation-item>
    <dt-top-bar-navigation-item align="start">
      <a routerLink="" dtTopBarAction>
        {{pluginJson.default.name}}
      </a>
    </dt-top-bar-navigation-item>
  </dt-top-bar-navigation>

  <dt-breadcrumbs aria-label="Breadcrumbs navigation">
    <a dtBreadcrumbsItem href="editor">Editor</a>
  </dt-breadcrumbs>

  <dt-drawer-container class="editor-ui-main">
    <dt-drawer #drawer opened>

      <dt-secondary-nav aria-label="Default Secondary Nav Example" class="plugin-navigator">
        <dt-secondary-nav-title>Plugin.json</dt-secondary-nav-title>
        <dt-secondary-nav-section expandable active>
          <dt-secondary-nav-section-title>
            Extension
          </dt-secondary-nav-section-title>
          <dt-secondary-nav-section-description>
            Metadata and source
          </dt-secondary-nav-section-description>
          <a dtSecondaryNavLink routerLink="#metadata" class="dt-secondary-nav-active">
            Metadata
          </a>
          <a dtSecondaryNavLink routerLink="#source">Source</a>
        </dt-secondary-nav-section>

        <dt-secondary-nav-section expandable>
          <dt-secondary-nav-section-title>
            Properties
          </dt-secondary-nav-section-title>
          <dt-secondary-nav-section-description>
            Extension parameters
          </dt-secondary-nav-section-description>
          <dt-secondary-nav-group >
            <a dtSecondaryNavLink routerLink="/">Properties</a>
          </dt-secondary-nav-group>
        </dt-secondary-nav-section>

        <dt-secondary-nav-section expandable>
          <dt-secondary-nav-section-title>
            Metrics
          </dt-secondary-nav-section-title>
          <dt-secondary-nav-section-description>
            Metric definitions
          </dt-secondary-nav-section-description>
          <dt-secondary-nav-group >
            <a dtSecondaryNavLink routerLink="#metrics">Metrics</a>
          </dt-secondary-nav-group>
        </dt-secondary-nav-section>

      </dt-secondary-nav>

    </dt-drawer>




    <div class="dt-demo-card">
      <dt-card>
        <dt-card-title>Top 3 JavaScript errors</dt-card-title>
        <dt-card-subtitle>Some subtitle</dt-card-subtitle>

        <dt-key-value-list>
          <dt-key-value-list-item>
            <strong dtKeyValueListKey>Name</strong>
            <samp dtKeyValueListValue>{{pluginJson.default.name}}</samp>
          </dt-key-value-list-item>

          <dt-key-value-list-item>
            <strong dtKeyValueListKey>Version</strong>
            <samp dtKeyValueListValue>{{pluginJson.default.version}}</samp>
          </dt-key-value-list-item>

          <dt-key-value-list-item>
            <strong dtKeyValueListKey>Type</strong>
            <samp dtKeyValueListValue>{{pluginJson.default.type}}</samp>
          </dt-key-value-list-item>

          <dt-key-value-list-item>
            <strong dtKeyValueListKey>Entity</strong>
            <samp dtKeyValueListValue>{{pluginJson.default.entity}}</samp>
          </dt-key-value-list-item>

          <dt-key-value-list-item>
            <strong dtKeyValueListKey>Technologies</strong>
            <samp dtKeyValueListValue>{{pluginJson.default.technologies}}</samp>
          </dt-key-value-list-item>

        </dt-key-value-list>


      </dt-card>
    </div>



  </dt-drawer-container>
</dt-drawer-container>