<dt-drawer-container class="editor-ui-main">
  <dt-drawer #drawer_menu opened class="main-menu">
    <app-editor-menu [drawer]=drawer_menu></app-editor-menu>
  </dt-drawer>
 
  <app-editor-top-bar [drawer]=drawer_menu></app-editor-top-bar>

  <dt-breadcrumbs aria-label="Breadcrumbs navigation" [ngSwitch]="getRouter().url">
    <a dtBreadcrumbsItem href="editor">Editor</a>
    <a dtBreadcrumbsItem href="editor/metrics" *ngSwitchCase="'/editor/metrics'">Metrics</a>
    <a dtBreadcrumbsItem href="editor/metadata" *ngSwitchCase="'/editor/metadata'">Metadata</a>
    <a dtBreadcrumbsItem href="editor/source" *ngSwitchCase="'/editor/source'">Source</a>
    <a dtBreadcrumbsItem href="editor/properties" *ngSwitchCase="'/editor/properties'">Properties</a>
  </dt-breadcrumbs>

  <dt-drawer-container class="editor-ui-main">
    <dt-drawer #drawer_nav opened>
      <app-editor-navigation></app-editor-navigation>
    </dt-drawer>

    <router-outlet></router-outlet>

  </dt-drawer-container>
</dt-drawer-container>