.metric-edit-container {
    background-color: #f2f2f2;
    border-top: 20px;
}

.metric-editor-field {
    margin-bottom: 20px;
    width: 30%;
}
.button-add-dimension {
    display: block;
}

.select-type{
    display: block;
}

.radio-type{
    display: block;
}

.button-type {
    margin-right: 20px;
}