$fonts-dir: 'https://dlopes7.github.io/dynatrace-extension-editor/fonts/';
@import "~@dynatrace/barista-components/style/index";
@import "@dynatrace/barista-fonts/typography.scss";


html, body {
    margin: 0;
    height: 100%;
  }



.dt-menu-group-header {
    padding-left: 20px !important;
    color: #b7b7b7 !important;
}