$fonts-dir: 'https://unpkg.com/@dynatrace/barista-fonts/fonts/';
@import "~@dynatrace/barista-components/style/index";

html, body {
  margin: 0;
  height: 100%;
}

.main-container {
  background-color: #ffffff;
  margin: 20px;
  height: 100%;
}
