.editor-ui-main{
    height: 100%;
}

.plugin-navigator{
    width: 280px;
}

.dt-drawer{
    padding: 0;
    padding-right: 0;
  }
  
.dt-menu{
    height: 100%;
    width: 240px;
}

/*If I don't do this, the element goes beyond the parent width*/
.dt-menu-item{
    width: unset !important;
}

.upload-card {
    width: 800px;
}

.upload-button {
    padding-left: 20px;
}

.dt-alert {
    padding-bottom: 5px;

}