<dt-drawer-container class="editor-ui-main">
  <dt-drawer #drawer_menu opened>
    <app-editor-menu></app-editor-menu>
  </dt-drawer>

  <app-editor-top-bar [drawer]=drawer_menu></app-editor-top-bar>

  <dt-breadcrumbs aria-label="Breadcrumbs navigation">
    <a dtBreadcrumbsItem href="home">Home</a>
  </dt-breadcrumbs>

  <div class="upload-card">
    <dt-card>
      <dt-card-icon>
        <dt-icon name="plugin"></dt-icon>
      </dt-card-icon>
      <dt-card-title>Upload a plugin.json file</dt-card-title>
      <dt-card-subtitle></dt-card-subtitle>
      <div class="upload-label">
        This app allows you to customize your plugin. You can add metrics, properties, charts, icons.<br>It will also scan your plugin.json for missing properties and charts.
      </div>
    </dt-card>
    <div class="upload-button">

      <dt-alert *ngIf="uploadError" severity="error" #alert1>{{uploadErrorMessage}}</dt-alert>

      <button dt-button variant="secondary" (click)="uploader.click()">
        <dt-icon name="cloud-upload"></dt-icon>
        Upload plugin.json
      </button>
    </div>
  </div>


</dt-drawer-container>

<input 
    hidden 
    type="file" 
    #uploader
    (change)="uploadFile($event)"
/>