<dt-secondary-nav aria-label="Default Secondary Nav Example" class="navigator" multi>
  <dt-secondary-nav-title>Plugin.json</dt-secondary-nav-title>
  <dt-secondary-nav-section expandable>
    <dt-secondary-nav-section-title>
      Extension
    </dt-secondary-nav-section-title>
    <dt-secondary-nav-section-description>
      Metadata and source
    </dt-secondary-nav-section-description>
    <a dtSecondaryNavLink routerLink="/editor/metadata" routerLinkActive="dt-secondary-nav-active">
      Metadata
    </a>
    <a dtSecondaryNavLink routerLink="/editor/source" routerLinkActive="dt-secondary-nav-active">Source</a>
  </dt-secondary-nav-section>

  <dt-secondary-nav-section expandable>
    <dt-secondary-nav-section-title>
      Properties
    </dt-secondary-nav-section-title>
    <dt-secondary-nav-section-description>
      Extension parameters
    </dt-secondary-nav-section-description>
    <dt-secondary-nav-group>
      <a dtSecondaryNavLink routerLink="/editor/properties"  routerLinkActive="dt-secondary-nav-active">Properties</a>
    </dt-secondary-nav-group>
  </dt-secondary-nav-section>

  <dt-secondary-nav-section expandable>
    <dt-secondary-nav-section-title>
      Metrics
    </dt-secondary-nav-section-title>
    <dt-secondary-nav-section-description>
      Metric definitions
    </dt-secondary-nav-section-description>
    <dt-secondary-nav-group>
      <a dtSecondaryNavLink routerLink="/editor/metrics"  routerLinkActive="dt-secondary-nav-active">Metrics</a>
    </dt-secondary-nav-group>
  </dt-secondary-nav-section>

</dt-secondary-nav>