<dt-secondary-nav aria-label="Default Secondary Nav Example" class="navigator">
    <dt-secondary-nav-title>Plugin.json</dt-secondary-nav-title>
    <dt-secondary-nav-section expandable active>
      <dt-secondary-nav-section-title>
        Extension
      </dt-secondary-nav-section-title>
      <dt-secondary-nav-section-description>
        Metadata and source
      </dt-secondary-nav-section-description>
      <a dtSecondaryNavLink routerLink="/editor/metadata" class="dt-secondary-nav-active">
        Metadata
      </a>
      <a dtSecondaryNavLink routerLink="/editor/source">Source</a>
    </dt-secondary-nav-section>

    <dt-secondary-nav-section expandable>
      <dt-secondary-nav-section-title>
        Properties
      </dt-secondary-nav-section-title>
      <dt-secondary-nav-section-description>
        Extension parameters
      </dt-secondary-nav-section-description>
      <dt-secondary-nav-group >
        <a dtSecondaryNavLink routerLink="/">Properties</a>
      </dt-secondary-nav-group>
    </dt-secondary-nav-section>

    <dt-secondary-nav-section expandable>
      <dt-secondary-nav-section-title>
        Metrics
      </dt-secondary-nav-section-title>
      <dt-secondary-nav-section-description>
        Metric definitions
      </dt-secondary-nav-section-description>
      <dt-secondary-nav-group >
        <a dtSecondaryNavLink routerLink="#metrics">Metrics</a>
      </dt-secondary-nav-group>
    </dt-secondary-nav-section>

  </dt-secondary-nav>